<div class="container">
  <h2>Passwort zurücksetzen</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <form [formGroup]="resetPasswordForm">
    <label>{{ 'LOGIN_SIGNUP.NEW_PASSWORD' | translate }}:</label>
    <input type="password" formControlName="newPassword" required>
    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
      Passwort muss mindestens 6 Zeichen lang sein.
    </div>

    <label>{{ 'LOGIN_SIGNUP.CONFIRM_NEW_PASSWORD' | translate }}:</label>
    <input type="password" formControlName="confirmPassword" required>
    <div *ngIf="resetPasswordForm.errors?.['mismatch']">
      {{ 'VALIDATION.PASSWORD_MISMATCH' | translate }}
    </div>

    <button type="submit" (click)="onSubmit()">{{ 'LOGIN_SIGNUP.RESET_PASSWORD' | translate }}</button>
  </form>
</div>
