<div class="container">
  <h2>Passwort zurücksetzen</h2>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <form [formGroup]="resetPasswordForm">
    <label>Neues Passwort:</label>
    <input type="password" formControlName="newPassword" required>
    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
      Passwort muss mindestens 6 Zeichen lang sein.
    </div>

    <label>Passwort bestätigen:</label>
    <input type="password" formControlName="confirmPassword" required>
<!--    <div *ngIf="resetPasswordForm.errors?.mismatch">-->
<!--      Passwörter stimmen nicht überein.-->
<!--    </div>-->

    <button type="submit" (click)="onSubmit()">Passwort zurücksetzen</button>
  </form>
</div>
