<nav class="navbar navbar-expand-lg bg-body border-bottom p-3 bg-body-tertiary">
  <div class="container-lg">
    <form class="w-50 d-flex pb-1" (submit)="onSubmit($event)">
      <input type="text"
             [(ngModel)]="searchQuery"
             name="search"
             class="form-control form-control-lg me-2"
             placeholder="{{'GENERAL.SEARCH' | translate}}..."
             aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">{{ 'GENERAL.SEARCH' | translate }}</button>
    </form>

    <div class="d-flex align-items-center gap-3">
      <ng-container *ngIf="!isLoggedIn; else userInfo">
        <button routerLink="/login" class="text-body btn btn-link text-decoration-none">
          <i class="bi bi-person-circle"></i>&nbsp;&nbsp;{{ 'LOGIN_SIGNUP.LOGIN' | translate }}
        </button>
      </ng-container>

      <ng-template #userInfo>
        <div class="dropdown">
          <button class="btn d-flex align-items-center p-0 border-0 bg-transparent"
                  type="button"
                  id="userMenu"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <img [ngSrc]="userAvatarUrl"
                 alt="Avatar"
                 class="rounded-circle me-2"
                 width="36"
                 height="36"
                 style="object-fit: cover;">
            <span class="text-body d-none d-sm-inline">{{ username }}</span>
            <i class="bi bi-chevron-down ms-2 text-muted d-none d-sm-inline"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end user-dropdown mt-3" aria-labelledby="userMenu">
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                <i class="bi bi-person"></i> Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                <i class="bi bi-gear"></i> Settings
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 text-danger" href="#" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </ng-template>

      <span class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-body"></div>
          <hr class="d-lg-none my-2 text-white-50">
        </span>

      <button class="btn btn-link text-body"><i class="bi bi-bell-fill"></i></button>
    </div>

  </div>
</nav>











