<nav class="navbar navbar-expand-lg bg-body border-bottom p-3 bg-body-tertiary">
    <div class="container-lg">

      <!--    <a class="navbar-brand fw-bold" routerLink="/">MyApp</a>-->

      <form class="w-50 d-flex pb-1" (submit)="onSubmit($event)">
        <input type="text"
               [(ngModel)]="searchQuery"
               name="search"
               class="form-control form-control-lg me-2"
               placeholder="{{'GENERAL.SEARCH' | translate}}..."
               aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">{{'GENERAL.SEARCH' | translate}}</button>
      </form>

      <div class="d-flex align-items-center gap-3">
        <button routerLink="/login" class="text-body btn btn-link text-decoration-none">
          Login or Sign up <i class="bi bi-person-circle"></i>
        </button>
        <!--      <ng-container *ngIf="!isLoggedIn; else userInfo">-->
        <!--        <a routerLink="/login" class="btn btn-outline-secondary">Login</a>-->
        <!--      </ng-container>-->

        <!--      <ng-template #userInfo>-->
        <!--        <div class="d-flex align-items-center gap-2">-->
        <!--          <img [src]="userAvatarUrl" alt="Avatar" class="rounded-circle" width="32" height="32">-->
        <!--          <span class="fw-semibold">{{ username }}</span>-->
        <!--        </div>-->
        <!--      </ng-template>-->
        <span class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-body"></div>
          <hr class="d-lg-none my-2 text-white-50">
        </span>

        <button class="btn btn-link text-body"><i class="bi bi-bell-fill"></i></button>
      </div>

    </div>
  </nav>











