<div class="row align-items-center mb-7">
  <div class="col-auto">
    <!-- Avatar -->
    <div class="avatar avatar-xl rounded text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
           class="fs-2 duo-icon duo-icon-user" data-duoicon="user">
        <path fill="currentColor"
              d="M12 13c2.396 0 4.575.694 6.178 1.671.8.49 1.484 1.065 1.978 1.69.486.616.844 1.352.844 2.139 0 .845-.411 1.511-1.003 1.986-.56.45-1.299.748-2.084.956-1.578.417-3.684.558-5.913.558s-4.335-.14-5.913-.558c-.785-.208-1.524-.506-2.084-.956C3.41 20.01 3 19.345 3 18.5c0-.787.358-1.523.844-2.139.494-.625 1.177-1.2 1.978-1.69C7.425 13.694 9.605 13 12 13Z"
              class="duoicon-primary-layer"></path>
        <path fill="currentColor"
              d="M12 2c3.849 0 6.255 4.167 4.33 7.5A5 5 0 0 1 12 12c-3.849 0-6.255-4.167-4.33-7.5A5 5 0 0 1 12 2Z"
              class="duoicon-secondary-layer" opacity=".3"></path>
      </svg>
    </div>
  </div>
  <div class="col">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item active" aria-current="page">Account</li>
<!--        <li class="breadcrumb-item active" aria-current="page">Account overview</li>-->
      </ol>
    </nav>

    <!-- Heading -->
    <h1 class="fs-4 mb-0">Account</h1>
  </div>
  <div class="col-12 col-sm-auto mt-4 mt-sm-0">
    <!-- Action -->
    <div class="row gx-2">
      <div class="col-6 col-sm-auto">
        <a class="btn btn-light w-100" [routerLink]="'/account/settings'" type="button">Edit</a>
      </div>
      <div class="col-6 col-sm-auto">
        <button class="btn btn-danger w-100" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-3">
    <!-- Nav -->
    <nav class="nav nav-pills position-sticky flex-column mb-8" id="accountNav" style="top: 32px">
      <a class="nav-link active" href="#general">General</a>
      <a class="nav-link" href="#billing">Billing</a>
      <a class="nav-link" href="#security">Security</a>
      <a class="nav-link text-danger" href="#">Delete account</a>
    </nav>
  </div>
  <div class="col-12 col-lg-9" data-bs-spy="scroll" data-bs-target="#accountNav" data-bs-smooth-scroll="true"
       tabindex="0">
    <!-- General -->
    <section class="card card-line bg-body-tertiary border-transparent mb-5" id="general">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar avatar-xl">
              <img class="avatar-img" src="../assets/img/photos/photo-2.jpg" alt="...">
            </div>
          </div>
          <div class="col">
            <h2 class="fs-5 mb-0">Michael Johnson</h2>
            <div class="text-body-secondary">Quantum Dynamics</div>
          </div>
        </div>
        <hr>
        <div class="mb-4">
          <div class="form-label text-body-secondary">Bio</div>
          <div>
            Hi! I'm Michael Johnson, a software engineer from San Francisco, California. I'm passionate about
            technology, design, and startups. I'm
            currently working at Quantum Dynamics as a front-end developer.
          </div>
        </div>
        <div class="mb-4">
          <div class="form-label text-body-secondary">Email</div>
          <a href="mailto:michael.johnson@company.com" class="text-body"> michael.johnson(at)company.com </a>
        </div>
        <div class="mb-4">
          <div class="form-label text-body-secondary">Phone</div>
          <a href="tel:+1234567890" class="text-body"> +1 (234) 567-890 </a>
        </div>
      </div>
    </section>

    <!-- Billing -->
        <section class="card card-line bg-body-tertiary border-transparent mb-5" id="billing">
          <div class="card-body">
            <h2 class="fs-5 mb-1">Billing</h2>
            <p class="text-body-secondary">Billing information is securely stored with our payment processor and is not accessible to us.</p>
            <div class="card border-transparent">
              <div class="card-body py-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="material-symbols-outlined text-body-tertiary">credit_card</span>
                      </div>
                      <div class="col">**** **** **** 1234 <small class="text-body-secondary ms-1">(exp. 12/24)</small></div>
                      <div class="col-auto">
                        <span class="badge bg-success-subtle text-success">Primary</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="material-symbols-outlined text-body-tertiary">credit_card</span>
                      </div>
                      <div class="col">**** **** **** 5678 <small class="text-body-secondary ms-1">(exp. 08/27)</small></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

    <!-- Security -->
        <section class="card bg-body-tertiary border-transparent" id="security">
          <div class="card-body">
            <h2 class="fs-5 mb-1">Security</h2>
            <p class="text-body-secondary">Secure your account with a strong password and two-factor authentication.</p>
            <div class="card border-transparent mb-4">
              <div class="card-body py-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="material-symbols-outlined text-body-tertiary">phone_iphone</span>
                      </div>
                      <div class="col">iPhone 15 <small class="text-body-secondary ms-1">Seattle, Washington · 2 hours ago</small></div>
                    </div>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="material-symbols-outlined text-body-tertiary">laptop_mac</span>
                      </div>
                      <div class="col">MacBook Pro <small class="text-body-secondary ms-1">San Francisco, California · 1 day ago</small></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn btn-dark" type="button">Sign out from all devices</button>
          </div>
        </section>
  </div>
</div>
