<div class="container">
  <div class="row justify-content-center">
    <div class="col-12" style="max-width: 25rem">
      <h1 class="fs-1 text-center mb-4">{{ 'LOGIN_SIGNUP.RESET_PASSWORD' | translate }}</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mb-5">
        <div class="mb-4">
          <label for="newPassword" class="form-label w-100">
            {{ 'LOGIN_SIGNUP.PASSWORD' | translate }}
            <input type="password" class="form-control form-control-lg" formControlName="newPassword"
                   id="newPassword" aria-describedby="passwordHelp">
          </label>
          <label for="confirmNewPassword" class="form-label w-100">
            {{ 'LOGIN_SIGNUP.CONFIRM_PASSWORD' | translate }}
            <input type="password" class="form-control form-control-lg" formControlName="confirmNewPassword"
                   id="confirmNewPassword"
                   aria-describedby="confirmPasswordHelp">
          </label>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-secondary w-100">
          {{ 'LOGIN_SIGNUP.RESET_PASSWORD' | translate }}
        </button>
      </form>
      <ngb-alert *ngIf="successMessage" [dismissible]="false" [type]="'success'">{{ successMessage | translate }}</ngb-alert>
      <ngb-alert *ngIf="errorMessage" [dismissible]="false" [type]="'danger'">{{ errorMessage | translate }}</ngb-alert>
    </div>
  </div>
</div>
