<div class="container">
  <div class="row justify-content-center">
    <div class="col-12" [ngStyle]="{maxWidth: maxWidthRem + 'rem'}">
      <h1 class="fs-1 text-center mb-4">{{ heading | translate }}</h1>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="mb-5">
        <div class="mb-4">
          <ng-container *ngFor="let field of formFields">
            <label [for]="field.name" class="form-label w-100">
              <input
                [id]="field.id"
                [type]="field.type"
                class="form-control form-control-lg"
                [placeholder]="field.translateKey ? (field.translateKey | translate) : field.label"
                [formControlName]="field.name"
                [attr.aria-describedby]="field.id + 'Help'"
                [ngClass]="{ 'is-invalid': (formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched) ||
                  ((field.name === 'password' || field.name === 'confirmPassword') && formGroup.errors?.['passwordMismatch']) }"
              />
            </label>
            <div class="invalid-feedback d-inline-block mb-2"
                 *ngIf="formGroup.get(field.name)?.touched && formGroup.get(field.name)?.errors">
              <ng-container *ngIf="formGroup.get(field.name)?.errors?.['required']">
                {{ 'ERROR.REQUIRED_FIELD' | translate }}
              </ng-container>
              <ng-container *ngIf="formGroup.get(field.name)?.errors?.['email']">
                {{ 'ERROR.INVALID_EMAIL' | translate }}
              </ng-container>
              <ng-container *ngIf="formGroup.get(field.name)?.errors?.['minlength']">
                {{ 'ERROR.MINLENGTH' | translate:{requiredLength: formGroup.get(field.name)?.errors?.['minlength'].requiredLength} }}
              </ng-container>
            </div>
            <!-- special case password match validator is validating a form and not a single field at once -->
            <ng-container
              *ngIf="(field.name === 'password' || field.name === 'confirmPassword') && formGroup.errors?.['passwordMismatch']">
              <div class="invalid-feedback d-inline-block mb-2">
                {{ 'ERROR.PASSWORD_MISMATCH' | translate }}
              </div>
            </ng-container>
          </ng-container>

        </div>

        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-secondary w-100">
          {{ submitText | translate }}
        </button>
      </form>
      <app-alert *ngIf="successMessage"
                         [type]="'success'"
                         [message]="successMessage"
                         [args]="successMessageArgs">
      </app-alert>
      <app-alert *ngIf="errorMessage"
                         [type]="'danger'"
                         [message]="errorMessage"
                         [args]="errorMessageArgs">
      </app-alert>
    </div>
  </div>
  <div class="mt-3 text-center fs-6">
    <p class="fs-6 w-100" *ngFor="let link of formLinks">
      {{ link.helpText | translate }}
      <a routerLink="{{link.href}}" class="text-decoration-none">{{ link.linkText | translate }}</a>
    </p>
  </div>
</div>
