<div class="d-flex flex-column flex-shrink-0 p-3  bg-body-tertiary" [ngStyle]="{'width': '250px', 'min-height': '100vh'}">
  <a routerLink="/home" class="d-flex align-items-center mb-3 text-decoration-none text-body fs-4">
    <strong>dashbrd</strong>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/home"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2 text-body transition">
        <i class="bi bi-house-door"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2 text-body transition">
        <i class="bi bi-speedometer2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/users"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2 text-body transition">
        <i class="bi bi-people"></i>
        Users
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/reports"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2 text-body transition">
        <i class="bi bi-file-earmark-bar-graph"></i>
        Reports
      </a>
    </li>
  </ul>
  <div class="dropdown dropend">
    <button class="btn btn-outline-secondary dropdown-toggle w-100 d-flex align-items-center justify-content-between"
            type="button"
            id="themeDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi bi-gear-fill me-2"></i> {{ 'NAVIGATION.SETTINGS' | translate }}
    </button>

    <ul class="dropdown-menu w-100" aria-labelledby="themeDropdown">
      <li><h6 class="dropdown-header">Choose Theme</h6></li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('light')">
          <i class="bi bi-sun-fill"></i> Light
        </button>
      </li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('dark')">
          <i class="bi bi-moon-stars-fill"></i> Dark
        </button>
      </li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('auto')">
          <i class="bi bi-circle-half"></i> Auto
        </button>
      </li>
    </ul>
  </div>
</div>
