<div class="d-flex flex-column flex-shrink-0 p-3  bg-body-tertiary" [ngStyle]="{'width': '250px', 'min-height': '100vh'}">
  <a routerLink="/home" class="d-flex align-items-center mb-3 text-decoration-none text-body fs-4">
    <strong>dashbrd</strong>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let item of visibleItems">
      <a [routerLink]="item.path"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2 text-body transition">
        <i class="bi" [ngClass]="item.icon"></i>
        {{ item.label | translate }}
      </a>
    </li>
  </ul>
  <div class="dropdown dropend">
    <button class="btn btn-outline-secondary dropdown-toggle w-100 d-flex align-items-center justify-content-between"
            type="button"
            id="themeDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi bi-gear-fill me-2"></i>&nbsp;{{ 'NAVIGATION.SETTINGS' | translate }}
    </button>

    <ul class="dropdown-menu w-100" aria-labelledby="themeDropdown">
      <li><h6 class="dropdown-header">{{ 'NAVIGATION.CHOOSE_THEME' | translate }}</h6></li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('light')">
          <i class="bi bi-sun-fill"></i>&nbsp;{{ 'NAVIGATION.LIGHT_THEME' | translate }}
        </button>
      </li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('dark')">
          <i class="bi bi-moon-stars-fill"></i>&nbsp;{{ 'NAVIGATION.DARK_THEME' | translate }}
        </button>
      </li>
      <li>
        <button class="dropdown-item d-flex align-items-center gap-2" (click)="toggleTheme('auto')">
          <i class="bi bi-circle-half"></i>&nbsp;{{ 'NAVIGATION.AUTO_THEME' | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>
